@import "./_global.scss";

.aboutMe {
  width: 100%;
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  &__topImgContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: rem(600);
    height: auto;
    .phonesImg {
      width: rem(170);
      height: rem(180);
      margin: 1rem;
    }
    .rightImg {
      width: rem(189);
      height: rem(216);
      transform: translateY(-20px);
      .blob1 {
        width: rem(70);
        height: rem(70);
        margin-left: auto;
        margin-right: 4rem;
        img {
          position: relative;
          top: -17px;
          left: -100px;
          width: 100%;
          height: auto;
        }
      }
      .computerImg {
        width: rem(260);
        height: rem(160);
      }
      .blob2 {
        // margin-left: auto;
        height: rem(85);
        width: rem(92);
        img {
          position: relative;
          right: -160px;
          top: -25px;
          height: rem(80);
          width: rem(90);
        }
      }
    }
  }
  &__textWrapper {
    width: 90%;
    transform: translateY(-30px);
    .titleWrapper {
      margin: auto;
      width: rem(334);
      height: rem(97.16);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20);
      p {
        font-size: rem(18);
      }
      hr {
        height: rem(5);
        width: rem(111);
        background-color: #5f2eea;
      }
    }
    .description {
      width: 82%;
      margin: auto;
      p {
        text-align: center;
        font-size: 1rem;
        line-height: 200%;
      }
    }
  }
  &__globeImg {
    width: rem(62);
    height: rem(62);
  }
  &__bottomImgWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__minionsContainer {
    height: auto;
    width: rem(320);
    display: flex;
    justify-content: space-between;
  }
  .minion--front {
    width: rem(65);
    height: rem(72);
  }
  .minion--back {
    width: rem(54);
    height: rem(71);
  }
}
