@import "./_global.scss";
$breakpoint-tablet: 768px;
$breakpoint-ipad: 1040px;
$breakpoint-large: 1440px;
$breakpoint-desktop: 1920px;

.aboutMe {
  width: 100%;
  height: calc(100% - 45px);
  max-height: 774px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  &__topImgContainer {
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    height: rem(264);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .phonesImg {
      grid-column: 1/7;
      padding: rem(12);
      img {
        width: 150%;
        height: auto;
      }
    }
    .rightImg {
      grid-column: 8/13;
      transform: translateY(-23px);
      img {
        width: 125%;
        height: auto;
      }
    }
    @media (min-width: $breakpoint-tablet) {
      padding-top: 12px;
      max-width: 500px;
      .rightImg {
        img {
          width: 234.4px;
          height: 291.2px;
          margin-left: 50px;
        }
      }
    }
    // @media (min-width: $breakpoint-ipad) {
    @media (min-width: $breakpoint-large) {
      max-width: 900px;
      .phonesIpadImg {
        grid-column: 1/7;
      }
      .rightImg {
        display: block;
        grid-column: 8/13;
        width: 430px;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          margin-left: 50px;
        }
      }
    }
  }
  &__textWrapper {
    width: 90%;
    transform: translateY(-30px);
    .titleWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: clamp(97.16px, 17vw, 145px);
      align-items: center;
      margin-bottom: rem(20);
      h1 {
        font-size: clamp(2rem, 6.5vw, 3rem);
      }
      p {
        font-size: clamp(1.125rem, 4vw, 1.4rem);
      }
      hr {
        min-height: rem(5);
        height: 0.35em;
        min-width: rem(111);
        width: 25%;
        background-color: #5f2eea;
        border: none;
      }
    }
    .description {
      width: 82%;
      margin: auto;
      p {
        text-align: center;
        font-size: clamp(1rem, 4vw, 1.2rem);
        line-height: 200%;
      }
    }
    @media (min-width: $breakpoint-tablet) {
      .titleWrapper {
        max-height: 320px;
      }
      hr {
        max-width: 188px;
      }
      .description {
        max-width: 764px;
      }
    }
  }
  &__globeImg {
    width: rem(62);
    height: rem(62);
  }
  &__bottomImgWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__minionsContainer {
    height: auto;
    width: rem(320);
    display: flex;
    justify-content: space-between;
  }
  .minion--front {
    max-width: 100%;
    height: auto;
  }
  .minion--back {
    width: rem(54);
    height: rem(71);
  }
}

.phonesIpadImg {
  display: none;
}
.blobsIpadImg {
  display: none;
}

// Ipad
@media (min-width: $breakpoint-ipad) {
  .aboutMe {
    margin-top: 66px;
    &__topImgContainer {
      margin-top: 15px;
    }
  }
}

// Large
@media (min-width: $breakpoint-large) {
  .phonesImg {
    display: none;
  }
  .blobsImg {
    display: none;
    height: 400px;
    width: 400px;
  }
  .phonesIpadImg {
    display: block;
    height: 70%;
  }
  .blobsIpadImg {
    display: block;
  }
  .aboutMe {
    height: 1100px;
    margin-top: 66px;
    max-height: none;
    &__topImgContainer {
      width: 70%;
      height: 22.5rem;
      margin: 50px 0;
    }
    .titleWrapper {
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 30px;
      }
      margin-bottom: 45px;
    }
    .description {
      p {
        font-size: 24px;
        line-height: 214.9%;
        letter-spacing: 0.055em;
      }
      margin-bottom: 20px;
    }
    &__minionsContainer {
      width: rem(620);
    }
    .minion--front {
      width: rem(95);
      height: auto;
    }
    .minion--back {
      width: rem(75);
      height: auto;
    }
  }
}

// Desktop
@media (min-width: $breakpoint-desktop) {
  .aboutMe {
    height: calc(100vh - 66px);
    position: relative;
    &__topImgContainer {
      position: absolute;
      min-width: none;
      max-width: none;
      width: 100%;
      display: grid;
      margin: 0;
      .phonesIpadImg {
        transform: translate(50px, 70px);
        height: 480px;
      }
      .rightImg {
        grid-column: 9/13;
        height: 740px;
        width: 100%;
        transform: translate(100px, -30px);
      }
    }
    &__textWrapper {
      margin-top: 100px;
      .titleWrapper {
        h1 {
          font-size: 60px;
        }
        hr {
          margin-top: 12px;
          width: 50%;
        }
      }
      .description {
        p {
          font-size: 26px;
        }
      }
    }
  }
}
