@import "./_global.scss";

.aboutMe {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  &__topImgContainer {
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    height: rem(264);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .phonesImg {
      grid-column: 1/7;
      padding: rem(12);
      img {
        width: 150%;
        height: auto;
      }
    }
    .rightImg {
      grid-column: 8/13;
      transform: translateY(-23px);
      img {
        width: 125%;
        height: auto;
      }
    }
  }
  &__textWrapper {
    width: 90%;
    transform: translateY(-30px);
    .titleWrapper {
      margin: auto;
      width: rem(334);
      height: rem(97.16);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20);
      p {
        font-size: rem(18);
      }
      hr {
        height: rem(5);
        width: rem(111);
        background-color: #5f2eea;
      }
    }
    .description {
      width: 82%;
      margin: auto;
      p {
        text-align: center;
        font-size: 1rem;
        line-height: 200%;
      }
    }
  }
  &__globeImg {
    width: rem(62);
    height: rem(62);
  }
  &__bottomImgWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__minionsContainer {
    height: auto;
    width: rem(320);
    display: flex;
    justify-content: space-between;
  }
  .minion--front {
    max-width: 100%;
    height: auto;
    // max-width: rem(80);
    // max-height: rem(87);
  }
  .minion--back {
    width: rem(54);
    height: rem(71);
  }
}
