@import "./_global.scss";

.experience {
  // height: rem(1880); // remove this later
  &__tabWrapper {
    height: rem(48.86);
    width: rem(166);
    margin: rem(22) 0px rem(31);
    background-image: url("../images/experience/experienceTab.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-size: rem(19);
    }
  }
  &__container {
    width: 80%;
    margin: auto;
  }

  h3 {
    font-size: rem(20);
    margin-right: rem(10);
  }
  .timeline {
    font-size: rem(12);
    color: #606060;
  }
  .jobPosition {
    font-size: rem(14);
    font-style: italic;
    line-height: rem(20);
  }
  &__jobTitleWrapper--first {
    .companyAndTimeline {
      display: flex;
      align-items: center;
      margin-bottom: rem(5);
    }
  }
  &__jobTitleWrapper--second {
    margin-top: rem(20);
    .jobPosition {
      padding-right: rem(20);
    }
  }
  ul {
    padding-left: 12px;
    li {
      padding-top: 18px;
      padding-right: 10px;
      span {
        font-size: normal;
      }
      &::marker {
        color: #284fc6;
      }
    }
  }
  &__cards {
    margin: rem(30) 0px;
    .card {
      margin: auto;
      cursor: pointer;
      width: rem(260);
      height: rem(195);
      .imgCover {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(150);
        overflow: hidden;
        img {
          width: rem(94);
          height: rem(181);
        }
        .second {
          width: rem(274);
          height: rem(136);
        }
      }
      .cardFooter {
        background-color: #3d94e4;
        font-size: 1.25rem;
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
      }
    }
    .card:nth-child(2) {
      margin-top: rem(30);
    }
  }
}
