@import "./_global.scss";

.experience {
  height: rem(780);
  &__container {
    width: 85%;
    margin: auto;
  }
  &__jobTitleWrapper {
    .companyAndTimeline {
      display: flex;
      align-items: center;
      margin-bottom: rem(5);
      h3 {
        font-size: rem(20);
        margin-right: rem(10);
      }
      .timeline {
        font-size: rem(12);
        color: #606060;
      }
    }
    .jobPosition {
      font-size: rem(14);
      font-style: italic;
      line-height: rem(20);
    }
  }
  ul {
    padding-left: 20px;
    li {
      padding-top: 18px;
      padding-right: 10px;
      span {
        font-size: normal;
      }
      &::marker {
        color: #284fc6;
      }
    }
  }
}
