@import "./_global.scss";
$breakpoint-small: 500px;
$breakpoint-tablet: 768px;
$breakpoint-ipad: 1040px;
$breakpoint-large: 1440px;
$breakpoint-desktop: 1920px;

.experience {
  &__tabWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(48.86);
    width: rem(166);
    margin: rem(22) 0px rem(31);
    background-image: url("../images/experience/experienceTab.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 12px 12px 0;
    p {
      color: white;
      font-size: clamp(1.313rem, 4vw, 1.4rem);
    }
    @media (min-width: $breakpoint-small) {
      height: rem(71);
      width: rem(195);
      p {
        font-size: rem(28);
      }
    }
  }
  &__room {
    display: none;
  }
  &__container {
    width: 80%;
    margin: auto;
  }

  h3 {
    font-size: clamp(1.25rem, 6vw, 1.8rem);
    margin-right: rem(10);
  }
  .timeline {
    font-size: clamp(0.75rem, 4vw, 1.2rem);
    color: #606060;
  }
  &__jobTitleWrapper--first {
    .companyAndTimeline {
      display: flex;
      align-items: center;
      margin-bottom: rem(5);
    }
    .jobPosition {
      font-size: clamp(1rem, 4vw, 1.2rem);
      font-style: italic;
    }
  }
  &__jobTitleWrapper--second {
    margin-top: rem(20);
    .jobPosition {
      padding-right: rem(20);
      font-size: clamp(1rem, 4vw, 1.2rem);
      font-style: italic;
    }
  }
  ul {
    padding-left: 12px;
    li {
      font-size: clamp(1rem, 4vw, 1.2rem);
      padding-top: 18px;
      padding-right: 10px;
      span {
        font-size: normal;
      }
      &::marker {
        color: #284fc6;
      }
    }
  }
  &__cards {
    display: grid;
    margin: rem(30) 0px rem(50);
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    @media (min-width: $breakpoint-tablet) {
      margin: 45px 0px 65px;
      grid-template-columns: repeat(2, 320px);
    }
    .card {
      width: rem(260);
      height: rem(195);
      grid-column: 1/13;
      margin: auto;
      cursor: pointer;
      @media (min-width: $breakpoint-tablet) {
        grid-column: auto;
        grid-row: 1;
      }
      .imgCover {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(150);
        overflow: hidden;
        img {
          width: rem(94);
          height: rem(181);
        }
        .second {
          width: rem(274);
          height: rem(136);
        }
      }
      .cardFooter {
        background-color: #3d94e4;
        font-size: 1.25rem;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  .experience {
    &__jobTitleWrapper--first,
    &__jobTitleWrapper--second {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 18px;
      .companyAndTimeline {
        h3 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
          margin-left: 10px;
        }
      }
      .jobPosition {
        font-size: 24px;
      }
    }
    &__tabWrapper {
      width: rem(300);
      height: rem(90);
      border-radius: 0 15px 15px 0;
      p {
        font-size: rem(40);
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
      margin-left: 45px;
      list-style: none;
      li {
        font-size: 22px;
        padding-right: 45px;
        position: relative;
      }
      li::before {
        content: "•";
        font-size: 45px;
        color: #284fc6;
        padding-right: 5px;
        position: absolute;
        left: -30px;
        top: 0px;
      }
    }
    &__cards {
      // margin-left: 100px;
      margin-left: 7.5%;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr 1fr;
      background-image: url("../images/experience/room.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 450px;
      grid-gap: 0;
      .card {
        grid-column: 2/4;
        .imgCover {
          background-color: white;
        }
      }
      .card:nth-child(2) {
        grid-row: 2;
      }
    }
    &__container {
      max-width: 1300px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .experience {
    // &__room {
    //   display: block;
    // }
  }
}
