@import "./_global.scss";
$breakpoint-small: 500px;
$breakpoint-large: 1440px;

.footer {
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: black;
  &__wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 22px;
  }
  .connectionIcons {
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $breakpoint-small) {
    height: 165px;
    p {
      font-size: 17px;
      margin-bottom: 24px;
    }
    .connectionIcons {
      width: 160px;
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  .footer {
    height: 238px;
    p {
      font-size: 24px;
      margin-bottom: 35px;
    }
    .connectionIcons {
      width: 200px;
      img {
        height: 37px;
        width: 37px;
      }
    }
  }
}
