.header {
  height: 50px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

/* Left Header */
.header__left {
  display: flex;
  align-items: center;
}

.header__left > p {
  margin-right: 44px;
}

/* Right Header */
.header__right {
  display: flex;
  align-items: center;
}

.header__right p {
  font-weight: bold;
}

.header__right img {
  margin-right: 4px;
}
