@import "./_global.scss";
$breakpoint-small: 500px;

.projects {
  height: rem(790);
  width: 100%;
  background-color: #f4f4f4;
  position: relative;
  &__tabWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(56);
    width: rem(250);
    transform: translateY(rem(30));
    margin: 0px auto;
    background-image: url("../images/projects/projectsTab.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 15px 15px 0;
    p {
      color: black;
      font-weight: 900;
      font-size: rem(23);
    }
    @media (min-width: $breakpoint-small) {
      height: rem(71);
      width: rem(312);
      p {
        font-size: rem(28);
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(12, fr);
    position: absolute;
    top: 140px;
    width: 100%;
    @media (min-width: $breakpoint-small) {
      top: 160px;
    }
    .card {
      grid-column: 1/13;
      margin: 0px auto 40px;
      cursor: pointer;
      width: rem(260);
      height: rem(195);
      .imgCover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(150);
        overflow: hidden;
        img {
          width: rem(94);
          height: rem(181);
        }
        .second {
          width: rem(274);
          height: rem(136);
        }
      }
      .cardFooter {
        background-color: #3d94e4;
        font-size: 1.25rem;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
      }
    }
  }
  .natureImg {
    width: rem(271);
    height: rem(222);
    position: absolute;
    top: 90px;
    right: -60px;
  }
  .roomImg {
    width: rem(270);
    height: rem(222);
    position: absolute;
    left: -40px;
    bottom: 70px;
  }
}
