@import "./_global.scss";

.projects {
  height: rem(790);
  background-color: #f4f4f4;
  &__tabWrapper {
    height: 100%;
    width: 100%;
    margin: rem(22) 0px rem(31);
    background-image: url("../images/projects/projectsTab.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-size: rem(23);
    }
  }
}
