@import "./_global.scss";
$breakpoint-small: 500px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1440px;
$breakpoint-desktop: 1920px;

.projects {
  height: rem(790);
  width: 100%;
  background-color: #f4f4f4;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    height: rem(495);
  }
  &__tabWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(56);
    width: rem(250);
    transform: translateY(rem(30));
    margin: 0px auto;
    background-image: url("../images/projects/projectsTab.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 15px 15px 0;
    p {
      color: black;
      font-weight: 900;
      font-size: rem(23);
    }
    @media (min-width: $breakpoint-small) {
      height: rem(71);
      width: rem(312);
      p {
        font-size: rem(28);
      }
    }
  }
  &__cards {
    position: absolute;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    top: 140px;
    width: 100%;
    margin: auto;
    justify-content: center;
    @media (min-width: $breakpoint-small) {
      top: 160px;
    }
    @media (min-width: $breakpoint-tablet) {
      margin: auto;
      grid-template-columns: repeat(2, 320px);
    }
    .card {
      grid-column: 1/13;
      margin: auto;
      cursor: pointer;
      width: rem(260);
      height: rem(195);
      @media (min-width: $breakpoint-tablet) {
        grid-column: auto;
        grid-row: 1;
      }
      .imgCover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(150);
        overflow: hidden;
        img {
          width: rem(94);
          height: rem(181);
        }
        .second {
          width: rem(274);
          height: rem(136);
        }
      }
      .cardFooter {
        background-color: #3d94e4;
        font-size: 1.25rem;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
      }
    }
  }
  .natureImg {
    width: rem(271);
    height: rem(222);
    position: absolute;
    top: 90px;
    right: -60px;
  }
  .roomImg {
    width: rem(270);
    height: rem(222);
    position: absolute;
    left: -40px;
    bottom: 70px;
  }
  @media (min-width: $breakpoint-tablet) {
    .roomImg {
      bottom: 35px;
    }
  }
}

@media (min-width: $breakpoint-large) {
  .projects {
    height: 783px;
    &__tabWrapper {
      height: 100px;
      width: 430px;
      transform: translateY(65px);
      p {
        font-size: rem(44);
        font-weight: 700;
      }
    }
    &__cards {
      gap: 120px;
      top: 270px;
      grid-template-columns: repeat(2, 360px);
      .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 310px;
        .imgCover {
          flex: 1;
          img {
            width: rem(94);
            height: rem(181);
          }
        }
        .cardFooter {
          height: 75px;
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
    .natureImg {
      width: 423px;
      height: 277px;
      top: 180px;
    }
    .roomImg {
      width: 345px;
      height: 286px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .projects {
    height: 750px;
    .natureImg {
      width: 567px;
      height: 464px;
      right: -120px;
      top: 190px;
    }
    .roomImg {
      width: 627px;
      height: 414px;
      bottom: 130px;
      left: -120px;
    }
  }
}
