@import "./_global.scss";
$breakpoint-small: 500px;

.skills {
  &__tabWrapper {
    height: rem(56);
    width: rem(166);
    margin: rem(22) 0px rem(31);
    background-image: url("../images/skills/skillsTab.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-size: rem(23);
    }
  }
  &__cards {
    margin: rem(30) 0px rem(50);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    .card {
      grid-column: 1/13;
      margin: auto;
      width: rem(335);
      height: rem(398);
      @media (min-width: $breakpoint-small) {
        width: 401px;
        height: 464px;
      }
      .imgCover {
        height: 120px;
        @media (min-width: $breakpoint-small) {
          height: 135px;
        }
        img {
          width: 100%;
        }
        .second {
          width: rem(274);
          height: rem(136);
        }
      }
      .cardCenter {
        height: calc(100% - 118px);
        @media (min-width: $breakpoint-small) {
          height: calc(100% - 134px);
        }
      }
      .cardContent {
        height: calc(100% - 118px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @media (min-width: $breakpoint-small) {
          // height: calc(100% - 177px);
        }
        .techRow {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
        }
        .techRow:first-child {
          margin-top: rem(5);
          align-self: center;
        }
        .techRow:nth-child(2) {
          width: 95%;
          justify-content: space-between;
          align-self: center;
        }
        .techItem {
          text-align: center;
          p {
            font-size: rem(12);
            font-weight: 600;
          }
        }
      }
    }
    // Backend
    .card:nth-child(2) {
      .cardContent {
        display: flex;
        align-items: center;
      }
      .techRow {
        width: 87%;
        justify-content: space-between;
      }
      .techRow:first-child {
        width: 92%;
      }
    }
    // Design & Cloud
    .card:nth-child(4),
    .card:nth-child(5) {
      .cardCenter {
        height: calc(100% - 245px);
        @media (min-width: $breakpoint-small) {
          height: calc(100% - 205px);
        }
      }
      .imgCover {
        height: rem(246);
      }
      .techRow {
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .cardContent {
        display: flex;
        height: 100%;
      }
    }
    .card:nth-child(5) {
      .techRow {
        width: 80%;
      }
    }
  }
}

// -- Media Queries --
// Mobile - Small (5000x - 620x)

// Small Tablet (620px - 780px)

// Medium Tablet (780px - 1040px)

// Large Tablet (1040px - 1444px)

// Desktop (1444px - 1920px)
